/* Main Stylesheet */

// Bootstrap configuration
$baseFontSize: 16px
$baseLineHeight: 22px
$iconSpritePath: "/images/glyphicons-halflings.png"

// Load bootstrap.
@import "compass_twitter_bootstrap"

// Container styles
.container
  +gridSystem-generate
  
  margin-top: 1.5em
  
  .header-bar
    border-bottom: 1px solid $grayDarker
    margin-bottom: 10px
  
    .site-title
      text-align: center
      
      h1
        font-size: 3em
        line-height: 1.4em
        
// Submission styles
.submission
  position: relative
  min-height: 224px

  .submission-actions-container
    width: 166px
    margin-right: auto
    margin-left: auto
    
    button i
      position: relative
      top: 2px
  
  .submission-meta-container
    position: absolute
    bottom: 1.2em
    right: 0
    
    .submission-meta
      position: relative
      background-color: $grayLighter
      +border-radius(5px)

      border: 1px solid $grayLight
    
      padding: 5px
    
      margin-bottom: 5px
      
      .submission-meta-arrow
        position: absolute
        z-index: 2
        bottom: 25px
        left: -11px
        
        width: 20px
        height: 20px
        background-color: $grayLighter
        +rotate(45deg)

        border-bottom: 1px solid $grayLight
        border-left: 1px solid $grayLight
    
    p
      margin-left: 10px
      font-size: 0.9em
      line-height: 1.3em
      
      span
        display: block
