/* Main Stylesheet

// Bootstrap configuration
$baseFontSize: 16px
$baseLineHeight: 22px

// Load bootstrap.
@import "compass_twitter_bootstrap"

// Container styles
.container
  +gridSystem-generate
  
  margin-top: 1.5em
  
  .header-bar
    border-bottom: 1px solid $grayDarker
  
    .site-title
      text-align: center
      
      h1
        font-size: 3em
        line-height: 1.4em
