<h2>Admin Login</h2>

<div class="row">
  <div class="span12">
    <form class="authentication-form" method="post" action="/admin/authenticate">
      <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
          <input name="username" type="text" class="input-xxlarge" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
          <input name="password" type="password" class="input-xxlarge" />
        </div>
      </div>

      <button class="btn" type="submit">Login</button>
    </form>
  </div>
</div>
