<h2>Submit your WAT to our WAT and let's WAT together.</h2>

<div class="row">
  <div class="span9">
    <form class="submission-compose-form" method="post" action="/submit">
      <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
          <input type="text" class="input-xxlarge required-for-submission" placeholder="Insert watty title here...">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">Language</label>
        
        <div class="controls">
          <select name="language" class="required-for-submission">
            <option value="">Select One</option>
            <option value="javascript">Javascript</option>
            <option value="ruby">Ruby</option>
          </select>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">What's the story?</label>
        <div class="controls">
          <textarea class="input-xxlarge required-for-submission" rows="3" placeholder="Explain why this is wat-worthy..."></textarea>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">Code:</label>
        
        <div class="controls">
          <textarea class="input-xxlarge required-for-submission" rows="4" placeholder="Show us the goods."></textarea>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">Who the heck are you?</label>
        
        <div class="controls">
          <input type="text" class="twitter-handle input-large required-for-submission" placeholder="Insert twitter handle here.">
          <span class="help-inline"></span>
        </div>
      </div>
      
      <button type="submit" class="btn disabled">Submit</button>
  </div>
  <div class="span3">
    <div class="well">
      <p>
        Fill out the form to the left to submit your entry. Please do remember not to submit any code that is under any
        kind of copyright or confidentiality agreement.
      </p>
      
      <p>
        By submitting, you agree that you have the legal right to publish this code and that it won't cause any legal shenanigans
        for us.
      </p>
    </div>
  </div>
</div>
