h1 Legends of WAT

p A collection of the funny, the shocking, the stuff that just shouldn't happen.

#submission
  h2= title

  p(class="summary")= summary
  
  pre
    code(data-language="css")
      #{code}
    
