<!DOCTYPE html>
<html>
  <head>
    <title>WAT</title>
    
    <!-- App Stylesheets -->
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!-- Rainbow -->
    <link rel="stylesheet" href="/lib/rainbow-1.1.1/themes/blackboard.css" type="text/css">
    <script src="/lib/rainbow-1.1.1/rainbow.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/raindow-1.1.1/language/javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/css.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="layout">
    <div class="container">
      <div class="row header-bar">
        <div class="span6 site-title">
          <h1 id="legends_of_wat">Legends of Wat</h1>
          <p id="witty">Now with 32% more Darth Vader!</p>
        </div>
        <div class="span6">
          <p>
            A humble collection of things in programming that should quite honestly never, ever, ever
            happen under any circumstances. Inspired by the excellent WAT Lightening Talk.
          </p>
          
          <p>
            Brewed in Atlanta with love by <a href="http://twitter.com/farmdawgnation">@farmdawgnation</a>.
          </p>
        </div>
      </div>
    
      {{html body}}
    </div>
  </body>
</html>
