<!DOCTYPE html>
<html>
  <head>
    <title>WAT</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    
    <!-- Rainbow -->
    <link rel="stylesheet" href="/lib/rainbow-1.1.1/themes/blackboard.css" type="text/css">
    <script src="/lib/rainbow-1.1.1/rainbow.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/raindow-1.1.1/language/javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/css.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="layout">
    <h1 id="legends_of_wat">Legends of Wat</h1>

    <p>A collection of the funny, the shcoking, the stuff that just shouldn't happen.</p>
    
    {{html body}}
  </body>
</html>
