<!DOCTYPE html>
<html>
  <head>
    <title>Watcode</title>

    <meta name="description" content="A collection of amusing, shocking, and interesting code snippets." />

    <!-- App Stylesheets -->
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- Application JS -->
    <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- Rainbow -->
    <link rel="stylesheet" href="/lib/rainbow-1.1.1/themes/blackboard.css" type="text/css">
    <script src="/lib/rainbow-1.1.1/rainbow.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/css.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/generic.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/html.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/php.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/python.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/ruby.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/rainbow-1.1.1/language/shell.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="layout">
    <div class="container">
      <div class="row header-bar">
        <div class="span6 site-title">
          <h1 id="legends_of_wat">Watcode</h1>
          <p id="witty">Now with 32% more Darth Vader!</p>
        </div>
        <div class="span6">
          <p>
            A humble collection of the amusing, shocking, and interesting.
            Inspired by the <a href="https://www.destroyallsoftware.com/talks/wat" target="_blank">WAT Lightening Talk</a>.
            Brewed in Atlanta with love by <a href="http://twitter.com/farmdawgnation">@farmdawgnation</a>.
          </p>
          
          <p>
            <a href="/compose">Submit your WAT-worthy code.</a>
          </p>
        </div>
      </div>
      
      {{each(i, alert) success}}
      <div class="alert alert-success">
        ${alert}
      </div>
      {{/each}}
      
      {{each(i, alert) error}}
      <div class="alert alert-error">
        ${alert}
      </div>
      {{/each}}
    
      {{html body}}
    </div>
  </body>
</html>
