<div class="submission" data-submission-id="${id}" data-submission-title="${title}">
  <h2>${title} <small><a class="submission-link" href="/view/${id}">(link)</a></small></h2>
  <div class="row">
    <div class="span9 submission-content">
      <p class="summary">${summary}</p>
  
      <pre><code data-language="${language}">${code}</code></pre>
    </div>
    <div class="span3 submission-meta-container">
      <div class="submission-meta">
        <div class="submission-meta-arrow"></div>
        <p class="category">Category:
          <span>
            <a href="/category/${language}">${languageName}</a>
          </span>
        </p>
        <p class="attribution">Submitted By:
          <span>
            <a href="${authorUrl}" target="_blank">@${author}</a>
          </span>
        </p>
      </div>
      
      <div class="submission-actions-container btn-group">
        <button class="btn"><i class="icon-share"></i> Share</button>
        <button class="twitter-share btn"><i class="icon-retweet"></i> Tweet</button>
      </div>
      
    </div>
  </div>
</div>
